{% extends "layout.html" %}

{% block title %} test {% endblock %}

{% block main %}
		<h1 class="mt-5">{{songtitle}}</h1>
		<h5> by {{artist}} </h6>
      <br></br>
      <center>
			<button onclick="ToggleGraph()" type="button" class="btn btn-success">Toggle Histogram & WordCloud</button>
			<div id = "graphdivtoggle">
						<div class="chart-container" style="position: relative; height:40vh; width:80vw"></div>>
								<canvas id="mychart"></canvas>
						</div>
						<div>
								<!-- DOES NOT WORK ON HEROKU, NEED S3 DUE TO EPHEMERAL FILE STORAGE
                  <img src="{{url_for('wordcloud', wordcloud_text = wordcloud_text)}}" alt="WordCloud" height="300"> -->
						</div>
      </div>
    </center>
		{%for line in lyric_list %}
			{{line}}
			<br></br>
		{% endfor %}
{% endblock %}

{% block script %}
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("mychart").getContext("2d");
       steps = 7
       max = {{max}}
     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true,
       responsive: true,
       maintainAspectRatio: false
       }
     );
			
		document.getElementById("graphdivtoggle").style.display = "none";
		function ToggleGraph() {
			var x = document.getElementById("graphdivtoggle");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
    </script>
{% endblock %}